* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 480px;
  height: 90vh;
  margin: 5vh auto;
  font-family: sans-serif;
  text-align: center;
}

.ChatRoom {
  padding: 12px 12px 4px 12px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #9bbbd4;
  overflow-y: scroll;

  & > :first-child {
    margin-top: auto;
  }
}

.ChatMessageGroup {
  display: flex;
  gap: 8px;

  &.mine {
    flex-direction: row-reverse;
  }

  & .avatar {
    flex: 0 0 40px;
    min-height: 40px;
    max-height: 40px;

      & .avatar-thumb {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        clip-path: circle(50%);
      }
  }

  & .main {
    flex: 1;

    & .name {
      padding: 6px 0;
      display: block;
      text-align: left;
    }
  }

  & .time {
    flex: 0 0 60px;
  }
}

.ChatMessageList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
}

.ChatMessageListItem {
  flex: 0;
  text-align: left;

  &.unknown {
    display: none;
  }
  
  &.theirs {

      & .ballon {
        background-color: #ffffff;
      }
  }

  &.mine {

    & .ballon {
      background-color: #fef01b;
    }
  }

  & .ballon {
    padding: 6px 8px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 6px;
  }
}