* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 360px;
  height: 90vh;
  margin: 5vh auto;
  font-family: sans-serif;
  text-align: center;
}

.ChatRoom {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #9bbbd4;
  overflow-y: scroll;

  & > :first-child {
    margin-top: auto;
  }
}

.ChatMessageList {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
}

.ChatMessageListItem {
  flex: 0;

  &.unknown {
    display: none;
  }
  
  &.theirs {
    text-align: left;

      & .ballon {
        background-color: #ffffff;
      }
  }

  &.mine {
    text-align: right;

    & .ballon {
      background-color: #fef01b;
    }
  }

  & .profile-thumb {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    clip-path: circle(50%);
  }

  & .ballon {
    padding: 4px 6px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 6px;
  }
}