* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.ChatRoom {
  max-width: 360px;
  height: 90vh;
  margin: 5vh auto 5vh auto;
  background-color: silver;

  & .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.ChatMessage {
  flex: 0;

  &.unknown {
    display: none;
  }
  
  &.theirs {
    text-align: left;
  }

  &.mine {
    text-align: right;
  }
}